* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOBILE FIRST */

body {
    background-color: #f6f5f3;
    font-size: 20px;
    font-family: "Montserrat";
}


/* HEADER */
header {
    /* height: 100px; */
    background-color: #fff;
    text-align: center;
}

h1 {
    font-size: 50px;
    padding-top: 20px;
    color: #fb9e2c;
    font-family: "Nerko One", cursive;
}



/* regole container */

.container {
    width: 80%;
    margin: 30px auto;
}


/* SEZIONE 1 */


/* titoli */

h4 {
   color: grey;
   font-size: 15px;
}

h2 {
    font-size: 25px; 
    color: #7c69a4;
}

.text_plus {
    display: none;
}

/* immagine e testo */

img {
    max-width: 100%;
    padding-top: 20px;
}

.col_video {
    background-attachment:  #ffff;
}

.col_info {
    background-color: #ffff;
}

h5 {
    padding: 10px;
    font-size: 23px;
}

ul {
    list-style: none;
    padding-bottom: 20px;
}

li {
    margin: 10px;
}

/* nav coi link social */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
  
nav a {
    background-color: white;
    padding: 10px; 
    border-radius: 9999px;
}
 
/* banner */
#banner {
    display: none;
}


/* SEZIONE 2 */

/* titolo */

h3 {
    font-size: 30px;
}

#border {
    border: 2px solid #fb9e2c;
    width: 70px;
}

/* immagine e testo */

#presentation img {
    max-width: 50%;
    margin-bottom: 10px;
    margin-left: 25%;
    display: block;   
}


/* FOOTER */

footer {
    background-color: #7c69a4;
    color: white;
    width: 100%;
}

footer .col {
    text-align: center;
    padding: 15px 15px;
}

.footer_link {
    color: white;
    padding-right: 15px;
}


/* VERSIONE TABLET */
@media screen and (min-width:768px){

    body {
        padding: 0 15px;
    }

    /* HEADER */
    header {
        height: 100px;
        background-color: #fff;
        text-align: start;
    }

    h1 {
        padding-left: 20px;
        font-size: 60px;
    }

    /* SECTION 1 */

    .text_plus {
        display: inline;
    }

    h2 {
        font-size: 35px;
    }

    /* immagine e testo */

    ul {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        padding-right: 10px;
    }
     
    /* nav link e banner */
    nav a {
        padding: 10px 45px;
    }

    #banner {
        display: block;
        padding-bottom: 30px;
    }

    /* SECTION 2 */

    #presentation img {
        float: left;
        margin-right: 15px;
        margin-left:0;
        width: 500px;
        height: auto;
    }

    p {
      padding-top: 15px;
    }

    /* .procedimento {
        overflow: auto;
    } */

    .clearfix::after {
        display: table;
        content: "";
        clear: both;
    }     


/* VERSIONE DESKTOP */

@media screen and (min-width:992px) {

    h1 {
        padding-left: 20px;
        font-size: 70px;
    }

     /* SECTION 1 */

     .text_plus {
        display: inline;
    }

    h2 {
        font-size: 45px;
    }

    .row {
        display: flex;
        width: 100%;
    }

    .row .col_video {
        width: 70%;
    } 

    .row .col_info {
        width: 30%;
        margin-top: 20px;
        font-size: 15px;
    }

    /* nav link e banner */
    nav a {
        padding: 10px 60px;
    }

    #banner img{
        height: 100px;
    }

     /* SECTION 2 */

    p {
        font-size: 15px;
    }

    #presentation img {
        width: 400px;
    }
    
    /* FOOTER */

    .col{
        font-size: 12px;
        width: 100%;
    }

    footer .col {
        text-align:start;
    }
    
    .footer_link {
        padding-left: 12px;
    }
}




